* {
   box-sizing: border-box;
   background: black;
}

body {
    margin: 0;
    padding:0 ;
}

 img {
width: 300px;
height: 200px;
justify-content: center;
}


.row {
    display:flex ;
    padding: 5px;
    flex-wrap: wrap;
}
.colum {
    flex:25%;
    padding: 5px;
}
.colum .img {
    margin-top: 5px ;
}